@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Parkinsans:wght@300..800&family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Parkinsans:wght@300..800&family=Sixtyfour&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1 {
    background-image: url("images/bg.jpg");
    height: 100vh;
    background-size: 100vw 100vh;
    padding: 40px;
    box-sizing: border-box;
}

.auth {
    margin: 20px;
    gap: 20px;
    display: flex;
}

.pages{
    background-image: none;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(135deg, #faf3fc 0%, #f5dbfad1 100%);
    min-height: 100vh;
    height: auto;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.content{
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gold;
    width: 50%;
    padding: 20px;
    text-align: center;
}

.card{
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gold;
    width: 250px;
    height: 450px;
    margin: 15px;
    padding: 20px;
    text-align: center;
}

.content h1{
    font-family: "Parkinsans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    color: rgb(210, 164, 222);
}

p{
    margin: 20px 0px;
    font-family: "Parkinsans", sans-serif;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    color: rgb(181, 205, 160);   
}

.content button{
    margin: 20px 0px;
    display: flex;
    align-items: center;
}

.delivery{
    display: flex;
    justify-content: left;
    align-items: center;
}

.active {
    position: relative;
    animation: loading 5s linear forwards;
}

@keyframes loading{
    from{
        left: 0px
    }
    to{
        left: calc(100% - 80px)
    }
}

@media(max-width: 500px){
    .content{
        width: 100%;
    }
}